# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# ML artefakty
backend/models/*.png

# Środowisko
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Trzymaj placeholder folderu models w gicie
!backend/models/.gitkeep
backend/.venv/backup*.sql
